In [1]:
my_int = 87
my_float = 8.7
my_complex = 8 + 7j
my_bool = True
my_str = "Introduction to Python Data Science"

In [2]:
type(87)
type(8.7)
type(8 + 7j)
type(True)
type(False)
type("Introduction to Python Data Science")

str

In [3]:
print ("開始輸出")
print (1, 2, 3)
print (1, 2, 3, sep = " ", end = " ")
print(4, 5, 6, sep="|", end="\n")

開始輸出
1 2 3
1 2 3 4|5|6

In [4]:
score = 66
print("⼤明的數學成績：%d" % score)
print("%5s的數學成績：%5.2f" %("Jenny", 95))
print("%5s的數學成績：%5.2f" %("Andy", 80.2))
print("{0}今年{1}歲。" .format("王⼩明" , 18))
print("{name}今年{age}歲。" .format(name = "王⼩明" , age = 18))
name = input("請輸入姓名")
chinese_grade = input("請輸入國⽂成績")
english_grade = input("請輸入英⽂成績")
print("{0:8}{1:>5}{2:>5}" .format("姓名","國⽂","英⽂"))
print("{0:<10}{1:>6}{2:>6}" .format(name,chinese_grade,english_grade))

⼤明的數學成績：66
Jenny的數學成績：95.00
 Andy的數學成績：80.20
王⼩明今年18歲。
王⼩明今年18歲。
請輸入姓名貽
請輸入國⽂成績80
請輸入英⽂成績70
姓名         國⽂   英⽂
貽             80    70

In [5]:
8 + 7

15

In [6]:
8 - 7

1

In [7]:
8 * 7

56

In [8]:
8 / 7

1.1428571428571428

In [9]:
8 ** 2

64

In [10]:
8 % 7

1

In [11]:
8 / 7.0
8 + (8 + 7j)
"---"

'---'

In [12]:
type(8 / 7.0)
type(8 + (8 + 7j))
type("---")

str

In [13]:
x = "5"
num = 5 + int(x)
print(num)

10

In [14]:
x = "5.3"
num = 5 + float(x)
print(num)

10.3

In [15]:
x = "5.3"
num = 5 + float(x)
print("輸出的數值是" + str(num))

輸出的數值是10.3

In [16]:
8 == 7

False

In [17]:
8 != 7

True

In [18]:
8 > 7

True

In [19]:
8 < 7

False

In [20]:
8 > 7

True

In [21]:
8 + True

9

In [22]:
8 - False

8

In [23]:
8 * False

0

In [24]:
8 / True

8.0

In [25]:
True == 1

True

In [26]:
True == 1.0

True

In [27]:
True == 1 + 0j

True

In [28]:
print("---")

---

In [29]:
False == 0

True

In [30]:
False == 0.0

True

In [31]:
False == 0 + 0j

True

In [32]:
'I am loving it!'
'I\'m loving it!'
'I don\'t think you\'ll ever be just "anybody".'
"I don't think you'll ever be just \"anybody\"."

'I don\'t think you\'ll ever be just "anybody".'

In [33]:
str1 = "Hello!" + "How Are You?"
print(str1)

Hello!How Are You?

In [34]:
str2 = "Hello!" * 3
print(str2)

Hello!Hello!Hello!

In [35]:
str3 = "Hello!\nHow Are You?"
print(str3)

Hello!
How Are You?

In [38]:
str = "ABCDEFGHIJK"

In [39]:
print(str[0])
print(str[-2])

A
J

In [40]:
print(str[:7:2])
print(str[2::2])
print(str[::2])

ACEG
CEGIK
ACEGIK

In [41]:
str1 = "Do \none \nthing \nat a time!"
print(str1.split())
print(str1.split( ' ', 2 ))

['Do', 'one', 'thing', 'at', 'a', 'time!']
['Do', '\none', '\nthing \nat a time!']

In [42]:
str = "The first wealth is health! Health is important!"
print ("{},長度是{}" .format(str, len(str)))

The first wealth is health! Health is important!,長度是48

In [43]:
print(str.upper())
print(str.lower())
print("health".capitalize())

THE FIRST WEALTH IS HEALTH! HEALTH IS IMPORTANT!
the first wealth is health! health is important!
Health

In [44]:
str.islower()

False

In [45]:
str.count("health")

1

In [46]:
str.strip("h!")

'The first wealth is health! Health is important'

In [47]:
str.replace("important", "重要")

'The first wealth is health! Health is 重要!'

In [50]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = date(2017, 12, 31)
start_of_2017
end_of_2017

datetime.date(2017, 12, 31)

In [51]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
start_of_2018 = start_of_2017.replace(year = 2018)
start_of_2018

datetime.date(2018, 1, 1)

In [52]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31)
days_dff = end_of_2017 - start_of_2017
days_dff.days

364

In [53]:
from datetime import time
sleep_time = time(23, 0, 0)
sleep_time
type(sleep_time)

datetime.time

In [54]:
from datetime import time
sleep_time = time(23, 0, 0)
wake_up_time = sleep_time.replace(hour = 7)
wake_up_time

datetime.time(7, 0)

In [55]:
from datetime import datetime
sys_datetime = datetime.now()
sys_datetime
type(sys_datetime)

datetime.datetime

In [56]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 0)
start_of_2017

datetime.datetime(2017, 1, 1, 0, 0)

In [57]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
end_of_2017

datetime.datetime(2017, 12, 31, 23, 59, 59)

In [58]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
date_time_diff = end_of_2017 - start_of_2017
date_time_diff.days
date_time_diff.seconds

86398

In [60]:
x = 0.62137
num = 0.62137*42.195
print(num)

26.21870715

In [65]:
my_height = 160

my_weight = 48

num=(my_weight)/(my_height)**2
print(num)

0.001875

In [67]:
starring_1 = "Jennifer Aniston"
starring_2 = "Courteney Cox"
starring_3 = "Lisa Kudrow"
starring_4 = "Matt LeBlanc"
starring_5 = "Matthew Perry"
starring_6 = "David Schwimmer"

In [68]:
starrings = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']

In [69]:
genre = "sitcom"
no_of_episodes = 236
still_airing = False
friends = [genre, no_of_episodes, still_airing]
friends
type(friends)

list

In [70]:
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls = [team_name, wins, losses, win_percentage, is_champion]

In [76]:
starrings = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings[0]
starrings[-1]
starrings[:3]
starrings[3:]

['Matt LeBlanc', 'Matthew Perry', 'David Schwimmer']

In [77]:
genre = "sitcom"
no_of_episodes = 236
still_airing = False
friends = [genre, no_of_episodes, still_airing]
type(friends[0])
type(friends[1])
type(friends[2])

bool

In [78]:
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls_list = [team_name, wins, losses, win_percentage, is_champion]
chicago_bulls_tuple = (team_name, wins, losses, win_percentage, is_champion)
#或 chicago_bulls_tuple = tuple(chicago_bulls_list)

In [79]:
starrings_list = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings_tuple = tuple(starrings_list)
starrings_tuple
type(starrings_tuple)

tuple

In [80]:
starrings_tuple = ("Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer")
starrings_tuple
type(starrings_tuple)

tuple

In [81]:
starrings_list = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry"]
starrings_list.append("David Schwimmer")
starrings_list

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']

In [84]:
gender_list = ["female", "female", "female", "male", "male", "male"]
gender_set = set(gender_list)
gender_set
type(gender_set)

set

In [85]:
gender_set = {"female", "female", "female", "male", "male", "male"}
gender_set
type(gender_set)

set

In [95]:
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls = {
 "team_name": team_name,
 "wins": wins,
 "losses": losses,
 "win_percentage": win_percentage,
 "is_champion": is_champion
}

In [96]:
friends_dict = {
 "genre": "sitcom",
 "seasons": 10,
 "episodes": 236,
 "starrings": ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
}
type(friends_dict)

dict

In [97]:
dic = {"name": "Andy", "age":18, "city":"台北"}
dic.clear()
print(dic)
dicA = {"name": "Andy", "age":18, "city":"⾼雄"}
dic = dicA.copy()
print(dic)
dic.get("age")
dic.pop("city")
dic.update(dicA)
print(dic)
print(dic.items())
print(dic.keys())
print(dic.values())

{}
{'name': 'Andy', 'age': 18, 'city': '⾼雄'}
{'name': 'Andy', 'age': 18, 'city': '⾼雄'}
dict_items([('name', 'Andy'), ('age', 18), ('city', '⾼雄')])
dict_keys(['name', 'age', 'city'])
dict_values(['Andy', 18, '⾼雄'])

In [98]:
friends_dict = {
 "genre": "sitcom",
 "seasons": 10,
 "episodes": 236,
 "starrings": ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
}
friends_dict["genre"]
friends_dict["seasons"]
friends_dict["episodes"]
friends_dict["starrings"]

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']

In [99]:
genre = "SitCom"
seasons = 10
episodes = 236
stars = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow",
"Matt LeBlanc", "Matthew Perry", "David Schwimmer"]

In [110]:
characters = ["Rachel Green", "Monica Geller", "Phoebe Buffay", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
print(characters)
starrings[0:3]

['Rachel Green', 'Monica Geller', 'Phoebe Buffay', 'Matt LeBlanc', 'Matthew Perry', 'David Schwimmer']

['Jennifer Aniston', 'Courteney Cox', 'Lisa Kudrow']

In [113]:
rgb_col_list = ["red", "green", "blue", "green", "red", "blue", "green", "green", "red", "blue"]
rgb_col_set = set(rgb_col_list)
print (rgb_col_set)

{'green', 'red', 'blue'}

In [117]:
friends_dict = {
 "genre": "sitcom",
 "seasons": 10,
 "episodes": 236,
 "starrings": ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
}
print (friends_dict)

{'genre': 'sitcom', 'seasons': 10, 'episodes': 236, 'starrings': ['Jennifer Aniston', 'Courteney Cox', 'Lisa Kudrow', 'Matt LeBlanc', 'Matthew Perry', 'David Schwimmer']}